@import url('https://fonts.googleapis.com/css2?family=Chivo&family=Lato:wght@300;400;700&display=swap');

:root {
  --clr-blue: #222766;
  --clr-gray: #777;
  --clr-lightgray: #ccc;
  --clr-darkgray: #222;
  --clr-beige: rgba(191, 182, 168, 0.7);
  --clr-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: Lato, sans-serif;
  height: 100vh;
  display: grid;
  align-items: start;
  grid-template-rows: 2fr 3fr 0.7fr;
}

/*----------------------------------------
HEADER----------------------------------*/



header {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu--toggle {
  width: 30px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 7px;
  cursor: pointer;
}

.menu--toggle span {
  width: 35px;
  height: 2px;
  background: var(--clr-blue);
}

.logo {
  width: 300px;
}

.user--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: var(--clr-blue);
}

.user--icon p {
  font-size: 34px;
  color: var(--clr-white);
  font-family: Chivo, Lato, sans-serif;
  font-weight: 400;
}


@media (max-width: 810px) {
  .logo {
    width: 200px;
  }
}
/*----------------------------------------
HEADER-END------------------------------*/

/*----------------------------------------
TOPNAV----------------------------------*/
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.top--nav {
  max-width: 500px;
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 4fr 3fr 4fr 1fr;
}
.line {
  width: 90%;
  height: 3px;
  background-color: var(--clr-beige);
}

.profile--logo {
  width: 100px;
}

.arrow {
  width: 34px;
  height: 34px;
  background: var(--clr-beige);
  border: none;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.arrow--container {
  width: 34px;
  height: 34px;
}

.arrow::before {
  position: absolute;
  top: -1px;
  left: 9px;
  font-family: Lato, sans-serif;
  font-size: 28px;
  color: var(--clr-white);
}

.back--arrow::before {
  content: '<';
}

.forward--arrow::before {
  content: '>';
}

.hidden {
  display: none;
}

@media (max-width: 640px) {
  .top--nav {
    max-width: 400px;
    width: 90%;
  }
  .profile--logo {
    width: 80px;
  }
}

@media (max-width: 414px) {
  .top--nav {
    max-width: 320px;
    width: 90%;
    grid-template-columns: 1.5fr 3fr 3fr 3fr 1.5fr;
  }
  .profile--logo {
    width: 70px;
  }
}
/*----------------------------------------
TOPNAV-END------------------------------*/

/*----------------------------------------
BOTTOM-IND----------------------------------*/

.bottom--indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 15px;
}

.bottom--indicator li {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--clr-lightgray);
}

.bottom--indicator li.active {
  width: 11px;
  height: 11px;
  background: var(--clr-darkgray);
}

.bottom--indicator li.filled {
  width: 9px;
  height: 9px;
  background: var(--clr-gray);
}

/*----------------------------------------
BOTTOM-IND-END------------------------------*/

/*----------------------------------------
GET-NAME----------------------------------*/
.get--name {
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.get--name p {
  font-size: 24px;  
  font-weight: 700;
  color: var(--clr-darkgray);
}

.get--name input {
  font-size: 18px;
  padding: 7px 12px;
  width: 260px;
}

.get--name input:focus {
  outline: none;
  box-shadow: 0px 0px 3px 1px #aaa;
}

/*----------------------------------------
GET-NAME-END------------------------------*/

/*----------------------------------------
QUESTIONS-END------------------------------*/

.questions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  gap: 20px;
}

.questions--heading {
  font-size: 22px;
  font-weight: 700;
}

.questions--subheading {
  font-size: 14px;
  font-weight: 300;
}
.options {
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  gap: 15px;
}

.options--label {
  position: relative;
  display: block;
  user-select: none;
  padding-left: 35px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 300;
  color: var(--clr-blue);
}
.options input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox {
  position: absolute;
  top: -2px;
  left: 0;
  height: 26px;
  width: 26px;
  border: 2px solid var(--clr-blue);
  border-radius: 2px;
  transition: all ease .2s;
}

.options--label:hover input ~ .checkbox {
  background-color: rgba(16, 42, 172, 0.1);
}

.checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

.options--label input:checked ~ .checkbox:after {
  display: block;
}

.options--label .checkbox:after {
  left: 5px;
  top: 5px;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  background: var(--clr-blue);
}

@media (max-width: 414px) {
  .options {
      width: 300px;
    }
}
/*----------------------------------------
QUESTIONS-END------------------------------*/

/*----------------------------------------
GETDATE----------------------------------*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.get--date p {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 30px;
}

.date--input--container {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  gap: 10px;
  max-width: 400px;
  width: 100%;
  margin-inline: auto;
}

.date--input {
  display: flex;
  flex-flow: column;
  gap: 10px;
  max-width: 60px;
}

.date--input label {
  font-size: 16px;
}


.date--input input {
  font-size: 16px;
  padding: 5px 10px;
  border: 1px solid var(--clr-beige);
  border-radius: 5px;
}

.date--input input:focus {
  outline: none;
  box-shadow: 0px 0px 3px 1px #aaa;
}

.date--input.year {
  max-width: 90px;
}



/*----------------------------------------
GETDATE-END------------------------------*/